<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактор</title>
<!-- ГОТОВЛЮСЬ К ФРОНТЕНДУ -->
<!--     <link rel="shortcut icon" href="../static/img/png64/fingerprint.png"> -->
<!--    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css" >-->
<!--    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >-->
<!--    <link rel="stylesheet" href="../static/css/style.css">-->
<!--    <link rel="stylesheet" href="../static/css/my-style.css" >-->
<!--    <link rel="stylesheet" href="../static/css/add-style.css" >-->
<!--    <link rel="stylesheet" href="../static/awesome-font/css/font-awesome.min.css" >-->
</head>
<body>

<h1> Редактор базы данных </h1>


 {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}




<form class="form-in-line" action="#" method="post">


    <p> ДОБАВИТЬ ЗАПИСЬ В ДБ</p>
   <form method="post" action="{{ url_for('db_edit.add_to_db_form') }}">
       {{ add_to_db_form.csrf_token }}
    {{ add_to_db_form.category.label}}
    {{ add_to_db_form.category }}
    {{ add_to_db_form.type.label }}
    {{ add_to_db_form.type }}
    {{ add_to_db_form.name.label }}
    {{ add_to_db_form.name }}
    {{ add_to_db_form.description.label }}
    {{ add_to_db_form.description(cols=50, rows=10) }}

       {{ add_to_db_form.description2.label }}
    {{ add_to_db_form.description2(cols=50, rows=10) }}



     <p><button type="submit"> Добавить запись  </button></p>

</form>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- <script src="../static/js/slick.min.js"></script> -->
<!-- <script src="../static/js/main-slick.js"></script> -->
<script>
  let category_select = document.getElementById('category');
  let type_select = document.getElementById('type');
  //let name_select = document.getElementById('name');

/*   function changeName() {

  } */

  category_select.onchange = function(){
    category = category_select.value;

    fetch('/db/type/' + category).then(function(response){
        response.json().then(function(data){
          //console.table(data);
          let optionHTML = '';
          for ( let type of data.types) {
            //alert(type.Камера);
            optionHTML += '<option id="' + type.name + '">' + type. name + "</option>";
          }
          type_select.innerHTML = optionHTML;
        });
    });
  }
</script>